<div class="project-list">

  <article class="project">
    <figure>
      <img src="/img/github/GitHub-Mark-120px-plus.png" alt="Image of the project">
    </figure>
    <h1><a href="#">Portfolio website</a></h1>
    <p>Written in Clojure and ClojureScript</p>
  </article>

  <article class="project">
    <figure>
      <img src="/img/github/GitHub-Mark-120px-plus.png" alt="Image of the project">
    </figure>
    <h1><a href="#">Marquee</a></h1>
    <p>CommonMark compilant markdown parser</p>
  </article>

  <article class="project">
    <figure>
      <img src="/img/github/GitHub-Mark-120px-plus.png" alt="Image of the project">
    </figure>
    <h1><a href="#">typying.js</a></h1>
    <p>jQuery plugin for typing animations</p>
  </article>

  <article class="project">
    <figure>
      <img src="/img/github/GitHub-Mark-120px-plus.png" alt="Image of the project">
    </figure>
    <h1><a href="#">Portfolio website</a></h1>
    <p>Written in Clojure and ClojureScript</p>
  </article>

  <article class="project">
    <figure>
      <img src="/img/github/GitHub-Mark-120px-plus.png" alt="Image of the project">
    </figure>
    <h1><a href="#">Marquee</a></h1>
    <p>CommonMark compilant markdown parser</p>
  </article>

  <article class="project">
    <figure>
      <img src="/img/github/GitHub-Mark-120px-plus.png" alt="Image of the project">
    </figure>
    <h1><a href="#">typying.js</a></h1>
    <p>jQuery plugin for typing animations</p>
  </article>

</div>
