<!DOCTYPE html>
<html>
  <head>
    <META http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <META name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Daniel Rivas{% endblock %}</title>

    <!-- styles -->
    <!-- {% style "/assets/bootstrap/css/bootstrap.min.css" %} -->
    {% style "/assets/font-awesome/css/font-awesome.min.css" %}

    {% style "/css/screen.css" %}
  </head>
  <body>
    <!-- navbar -->
    <nav id="navbar" role="navigation">
      <div class="container">
        <button class="navbar__toggler"
                type="button"
                data-target="#collapsing-navbar">
            &#9776;
        </button>
        <a class="navbar__brand" href="{{servlet-context}}/">
          <strong>Daniel</strong>Rivas
        </a>
        <div class="navbar__wrapper">
          <ul class="navbar__nav">
            {% for item in menu %}
            <li>
              <a href="{{servlet-context}}{{item.route}}"
                 {% ifequal page|top-level item.top-level %}
                 class="navbar__active"
                 {% endifequal %}>{{item.caption}}</a>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </nav>

    <div id="content"
      {% ifequal page "home.html" %} class="content__home"{% endifequal %}>
      {% block content %}
      {% endblock %}
    </div>

    <footer id="footer" role="footer" class="container">
      <p id="copyright">
        Copyright © 2016, Daniel Rivas
      </p>

      <div id="navbar--footer">
        <h2>Navigate</h2>
        <ul>
          {% for item in menu %}
          <li><a href="{{servlet-context}}{{item.route}}"/>{{item.caption}}</a></li>
          {% endfor %}
        </ul>
      </div>

      <div id="social">
        <h2>Social</h2>
        <ul>
          {% for item in social %}
          <li>
            <i class="fa {{item.fa-icon}}"></i>
            <a href="{{item.url}}">{{item.caption}}</a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </footer>

    <!-- scripts -->
    <!-- {% script "/assets/jquery/jquery.min.js" %} -->
    <!-- {% script "/assets/tether/dist/js/tether.min.js" %} -->
    <!-- {% script "/assets/bootstrap/js/bootstrap.min.js" %} -->

    <script type="text/javascript">
      var context = "{{servlet-context}}";
    </script>
    {% script "/js/app.js" %}

    {% block page-scripts %}
    {% endblock %}
  </body>
</html>
