@import url(https://fonts.googleapis.com/css?family=Inconsolata:400,700|Josefin+Slab:400,700|Montserrat:400,700|Open+Sans:400,400italic,700);

html {
  font-family: Open Sans, sans-serif;
}

body {
  color: #666666;
}

code {
  font-family: Inconsolata, monospace;
}

h1, h2, h3, h4 {
  color: #4d4d4d;
  font-family: Montserrat, sans-serif;
  font-weight: normal;
}

a {
  color: #4078c0;
  text-decoration: none;
}

a:visited {
  color: #6693cd;
}

a:hover {
  color: #4078c0;
  text-decoration: underline;
}

body {
  margin: 0;
  padding: 0;
}

body #content {
  padding-top: 4em;
  padding-bottom: 2em;
}

body #content.content__home {
  padding-top: 0em;
}

body .container {
  max-width: 1024px;
  margin: auto;
  padding: 0 2em;
}

body .section {
  padding: 2em 0;
}

ul {
  list-style: none;
  padding: 0;
}

.multiple-bg {
  position: relative;
}

.multiple-bg .multiple-bg__layer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#navbar {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  background: #ffffff;
  box-shadow: 0 0 2px rgba(0, 0, 0, .125);
  transition: background .125s, box-shadow .125s;
}

#navbar.navbar--home {
  background: transparent;
  box-shadow: none;
}

#navbar .container {
  padding: 0;
}

#navbar .container:after {
  content: "";
  display: block;
  clear: both;
}

@media screen and (min-width: 720px) {

  #navbar .container {
    padding: 0 1rem;
  }

}

#navbar .navbar__toggler {
  line-height: 2rem;
  font-size: 2rem;
  transition: background .125s;
  float: left;
  background: transparent;
  cursor: pointer;
  padding: 1rem;
  border: none;
  margin: 0;
}

#navbar .navbar__toggler:hover {
  background: #333333;
}

#navbar .navbar__brand {
  line-height: 4rem;
  color: #666666;
  vertical-align: middle;
  font-size: 2rem;
  float: left;
  margin-left: 0.5em;
  text-decoration: none;
  display: inline-block;
  font-family: Josefin Slab, serif;
}

#navbar .navbar__brand * {
  word-wrap: break-word;
}

#navbar .navbar__wrapper {
  display: block;
  clear: both;
  height: 0;
  vertical-align: middle;
  background: inherit;
  transition: height 2s;
  overflow: hidden;
}

#navbar .navbar__wrapper.navbar__wrapper--show {
  height: auto;
}

#navbar ul.navbar__nav {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
}

#navbar ul.navbar__nav li {
  display: block;
  margin: 0;
  text-align: center;
}

#navbar ul.navbar__nav li a {
  display: block;
  font-family: Montserrat, sans-serif;
  font-size: 1rem;
  line-height: 2rem;
  padding: 1rem;
  color: #666666;
}

#navbar ul.navbar__nav li a.navbar__active {
  background: #333333;
}

#navbar ul.navbar__nav li a:hover {
  text-decoration: underline;
}

#mega-brand {
  position: relative;
  box-sizing: border-box;
  min-height: 468px;
  height: 100vh;
  padding: 6em 1em 2em;
  overflow: hidden;
  background: linear-gradient(to bottom, transparent 0%,  transparent 90%, rgba(0, 0, 0, .125) 100%);
}

#mega-brand .mega-brand__content {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: left;
  transform: translate(-50%, -50%);
}

#mega-brand .mega-brand__content .mega-brand__header {
  font-size: 0.5em;
  text-align: center;
}

@media screen and (min-width: 468px) {

  #mega-brand .mega-brand__content .mega-brand__header {
    font-size: 0.75em;
  }

}

@media screen and (min-width: 720px) {

  #mega-brand .mega-brand__content .mega-brand__header {
    font-size: 1em;
  }

}

#mega-brand .mega-brand__content .mega-brand__header h1 {
  margin: 0;
  font-family: Josefin Slab, serif;
  font-size: 6em;
  font-weight: normal;
}

#mega-brand .mega-brand__content .mega-brand__header #tagline {
  font-size: 3em;
}

@media screen and (min-width: 720px) {

  
  
  #navbar .navbar__toggler {
    display: none;
  }
  
  #navbar .navbar__wrapper {
    display: inline-block;
    clear: none;
    height: auto;
    position: relative;
    float: right;
    background: transparent;
  }
  
  #navbar ul.navbar__nav {
    display: inline-block;
  }
  
  #navbar ul.navbar__nav li {
    display: inline-block;
  }
  
  #navbar ul.navbar__nav li a.navbar__active {
    background: transparent;
    border-bottom: 2px solid transparent;
    border-color: #666666;
  }

}

#footer {
  padding-top: 1em;
  padding-bottom: 2em;
  border-top: 1px solid transparent;
  border-color: #e6e6e6;
}

#footer:after {
  content: "";
  display: block;
  clear: both;
}

#footer #copyright {
  text-align: center;
}

@media screen and (min-width: 468px) and (max-width: 719px) {

  #footer #copyright {
    float: right;
    clear: none;
    width: 100%;
    margin-right: 0%;
    margin-left: 3%;
  }
  
  
  
  #footer #copyright:nth-of-type(n) {
    margin-left: 3%;
    float: right;
    clear: none;
  }
  
  #footer #copyright:nth-of-type(1n) {
    margin-left: 0%;
    float: left;
  }
  
  #footer #copyright:nth-of-type(1n+1) {
    clear: both;
  }
  
  #footer #navbar--footer, #footer #social {
    float: right;
    clear: none;
    width: 48.5%;
    margin-right: 0%;
    margin-left: 3%;
  }
  
  
  
  #footer #navbar--footer:nth-of-type(n), #footer #social:nth-of-type(n) {
    margin-left: 3%;
    float: right;
    clear: none;
  }
  
  #footer #navbar--footer:nth-of-type(2n), #footer #social:nth-of-type(2n) {
    margin-left: 0%;
    float: left;
  }
  
  #footer #navbar--footer:nth-of-type(2n+1), #footer #social:nth-of-type(2n+1) {
    clear: both;
  }

}

@media screen and (min-width: 720px) {

  #footer #copyright {
    text-align: left;
    float: right;
    clear: none;
    width: 48.5%;
    margin-right: 0%;
    margin-left: 3%;
  }
  
  #footer #copyright:last-child {
    margin-left: 0%;
  }
  
  #footer #navbar--footer, #footer #social {
    float: right;
    clear: none;
    width: 22.75%;
    margin-right: 0%;
    margin-left: 3%;
  }
  
  #footer #navbar--footer:last-child, #footer #social:last-child {
    margin-left: 0%;
  }

}

.project-list:after {
  content: "";
  display: block;
  clear: both;
}

.project-list:hover .project {
  opacity: .5;
}

.project-list .project {
  box-sizing: border-box;
  padding: 1.5em;
  border: 1px solid transparent;
  text-align: center;
  transition: box-shadow .25s, opacity .25s;
}

.project-list .project:hover {
  opacity: 1;
  border-color: #999999;
  box-shadow: 0 0 24px rgba(0, 0, 0, .25);
}

@media screen and (min-width: 720px) {

  .project-list .project {
    float: left;
    clear: none;
    width: 50%;
    margin-left: 0%;
    margin-right: 0%;
  }
  
  
  
  .project-list .project:nth-of-type(n) {
    margin-right: 0%;
    float: left;
    clear: none;
  }
  
  .project-list .project:nth-of-type(2n) {
    margin-right: 0%;
    float: right;
  }
  
  .project-list .project:nth-of-type(2n+1) {
    clear: both;
  }

}

@media screen and (min-width: 1024px) {

  .project-list .project {
    float: left;
    clear: none;
    width: 33.333332%;
    margin-left: 0%;
    margin-right: 0%;
  }
  
  
  
  .project-list .project:nth-of-type(n) {
    margin-right: 0%;
    float: left;
    clear: none;
  }
  
  .project-list .project:nth-of-type(3n) {
    margin-right: 0%;
    float: right;
  }
  
  .project-list .project:nth-of-type(3n+1) {
    clear: both;
  }

}

.project-list .project h1 {
  font-size: 1.5em;
}

.project-list .project figure {
  text-align: center;
}

.blog-entries article.post {
  margin-bottom: 2em;
}

.blog-entries article.post h1 {
  display: inline-block;
  font-family: Open Sans, sans-serif;
  font-size: 1.5em;
  font-weight: normal;
}

.blog-entries article.post h1, .blog-entries article.post p {
  margin: 0;
  padding: 0;
}

.blog-entries article.post .post__metadata {
  display: inline-block;
  margin-bottom: 0.5em;
  color: #808080;
  font-style: italic;
}