@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700|Josefin+Slab:400,700|Inconsolata:400,700);

#navbar {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  background: #333333;
  transition: background .125s;
}

#navbar:after {
  content: "";
  display: block;
  clear: both;
}

#navbar .navbar__toggler {
  float: left;
  margin: 0;
  padding: 1rem;
  background: transparent;
  border: none;
  font-size: 2rem;
  line-height: 2rem;
  cursor: pointer;
  text-decoration: none;
  font-weight: bold;
  color: white;
}

#navbar .navbar__brand {
  line-height: 4rem;
  color: white;
  vertical-align: middle;
  font-size: 2rem;
  float: left;
  margin-left: 0.5em;
  text-decoration: none;
  display: inline-block;
  font-family: Josefin Slab, serif;
}

#navbar .navbar__brand * {
  word-wrap: break-word;
}

#navbar .navbar__wrapper {
  display: none;
  float: right;
  vertical-align: middle;
}

#navbar ul.navbar__nav {
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style: none;
}

#navbar ul.navbar__nav li {
  display: inline-block;
  margin: 0;
}

#navbar ul.navbar__nav li a {
  display: block;
  font-size: 1rem;
  line-height: 2rem;
  padding: 1rem;
  text-decoration: none;
  font-weight: bold;
  color: white;
}

#navbar ul.navbar__nav li a.navbar__active {
  border-bottom: 2px solid white;
}

#navbar ul.navbar__nav li a:hover {
  text-decoration: underline;
}

#mega-brand {
  position: relative;
  box-sizing: border-box;
  min-height: 468px;
  height: 100vh;
  padding: 6em 1em 2em;
  overflow: hidden;
  background: repeat url(../img/footer_lodyas.png) transparent;
  background-color: #333333;
}

#mega-brand .mega-brand__content {
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
  text-align: left;
  transform: translate(-50%, -50%);
}

#mega-brand .mega-brand__content .mega-brand__header {
  font-size: 0.5em;
  text-align: center;
}

@media screen and (min-width: 468px) {

  #mega-brand .mega-brand__content .mega-brand__header {
    font-size: 0.75em;
  }

}

@media screen and (min-width: 720px) {

  #mega-brand .mega-brand__content .mega-brand__header {
    font-size: 1em;
  }

}

#mega-brand .mega-brand__content .mega-brand__header h1 {
  margin: 0;
  font-size: 6em;
  font-weight: normal;
}

#mega-brand .mega-brand__content .mega-brand__header #tagline {
  font-size: 3em;
}

@media screen and (min-width: 720px) {

  
  
  #navbar .navbar__toggler {
    display: none;
  }
  
  #navbar .navbar__wrapper {
    display: inline-block;
  }

}

#footer {
  padding: 2em;
  background: #333333;
}

body {
  margin: 0;
  padding: 0;
}

body #content {
  padding-top: 4em;
  padding-bottom: 2em;
}

body #content.content__home {
  padding-top: 0em;
}

body .container {
  max-width: 1024px;
  margin: auto;
}

body .section {
  padding: 2em;
}

html {
  font-size: 1.125rem;
  font-family: Open Sans, sans-serif;
}

body {
  color: #222222;
}

code {
  font-family: Inconsolata, monospace;
}

h1, h2 {
  font-family: Josefin Slab, serif;
}

a {
  color: #999999;
}

a:hover {
  color: #333333;
}

.blog-entries article.post {
  margin-bottom: 2em;
}

.blog-entries article.post h1 {
  display: inline-block;
  font-family: Open Sans, sans-serif;
  font-size: 1.25em;
  font-weight: normal;
}

.blog-entries article.post h1 a {
  color: #2185c5;
  text-decoration: none;
}

.blog-entries article.post h1, .blog-entries article.post p {
  margin: 0;
  padding: 0;
}

.blog-entries article.post .post__metadata {
  display: inline-block;
  margin-bottom: 0.5em;
  color: #cccccc;
}