@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700|Josefin+Slab:400,700|Inconsolata:400,700);

html {
  font-size: 1.125rem;
  font-family: Open Sans, sans-serif;
}

body {
  color: #666666;
}

code {
  font-family: Inconsolata, monospace;
}

h1, h2 {
  color: #3e454c;
  font-family: Josefin Slab, serif;
}

a {
  color: #808080;
}

a:visited {
  color: #b3b3b3;
}

a:hover {
  color: #4d4d4d;
}

body {
  margin: 0;
  padding: 0;
}

body #content {
  padding-top: 4em;
  padding-bottom: 2em;
}

body #content.content__home {
  padding-top: 0em;
}

body .container {
  max-width: 1024px;
  margin: auto;
}

body .section {
  padding: 2em;
}

ul {
  list-style: none;
  padding: 0;
}

#navbar {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  background: #b3b3b3;
  transition: background .125s;
}

#navbar:after {
  content: "";
  display: block;
  clear: both;
}

#navbar .navbar__toggler {
  float: left;
  margin: 0;
  padding: 1rem;
  background: transparent;
  border: none;
  font-size: 2rem;
  line-height: 2rem;
  cursor: pointer;
  text-decoration: none;
  font-weight: bold;
  color: white;
}

#navbar .navbar__brand {
  line-height: 4rem;
  color: white;
  vertical-align: middle;
  font-size: 2rem;
  float: left;
  margin-left: 0.5em;
  text-decoration: none;
  display: inline-block;
  font-family: Josefin Slab, serif;
}

#navbar .navbar__brand * {
  word-wrap: break-word;
}

#navbar .navbar__wrapper {
  display: none;
  float: right;
  vertical-align: middle;
}

#navbar ul.navbar__nav {
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style: none;
}

#navbar ul.navbar__nav li {
  display: inline-block;
  margin: 0;
}

#navbar ul.navbar__nav li a {
  display: block;
  font-size: 1rem;
  line-height: 2rem;
  padding: 1rem;
  text-decoration: none;
  font-weight: bold;
  color: white;
}

#navbar ul.navbar__nav li a.navbar__active {
  border-bottom: 2px solid white;
}

#navbar ul.navbar__nav li a:hover {
  text-decoration: underline;
}

#mega-brand {
  position: relative;
  box-sizing: border-box;
  min-height: 468px;
  height: 100vh;
  padding: 6em 1em 2em;
  overflow: hidden;
  background: repeat url(../img/footer_lodyas.png) transparent;
  background-color: #b3b3b3;
}

#mega-brand .mega-brand__content {
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
  text-align: left;
  transform: translate(-50%, -50%);
}

#mega-brand .mega-brand__content .mega-brand__header {
  font-size: 0.5em;
  text-align: center;
}

@media screen and (min-width: 468px) {

  #mega-brand .mega-brand__content .mega-brand__header {
    font-size: 0.75em;
  }

}

@media screen and (min-width: 720px) {

  #mega-brand .mega-brand__content .mega-brand__header {
    font-size: 1em;
  }

}

#mega-brand .mega-brand__content .mega-brand__header h1 {
  margin: 0;
  font-size: 6em;
  font-weight: normal;
  color: #ffffff;
}

#mega-brand .mega-brand__content .mega-brand__header #tagline {
  font-size: 3em;
}

@media screen and (min-width: 720px) {

  
  
  #navbar .navbar__toggler {
    display: none;
  }
  
  #navbar .navbar__wrapper {
    display: inline-block;
  }

}

#footer {
  padding-top: 1em;
  padding-bottom: 2em;
  border-top: 1px solid transparent;
  border-color: #e6e6e6;
}

#footer:after {
  content: "";
  display: block;
  clear: both;
}

@media screen and (min-width: 720px) {

  #footer #copyright {
    font-family: Josefin Slab;
    float: left;
    clear: none;
    width: 48.5%;
    margin-left: 0%;
    margin-right: 3%;
  }
  
  #footer #copyright:last-child {
    margin-right: 0%;
  }
  
  #footer #navbar--footer {
    float: left;
    clear: none;
    width: 22.75%;
    margin-left: 0%;
    margin-right: 3%;
  }
  
  #footer #navbar--footer:last-child {
    margin-right: 0%;
  }
  
  #footer #social {
    float: left;
    clear: none;
    width: 22.75%;
    margin-left: 0%;
    margin-right: 3%;
  }
  
  #footer #social:last-child {
    margin-right: 0%;
  }

}

.project-list:after {
  content: "";
  display: block;
  clear: both;
}

.project-list:hover .project {
  opacity: .5;
}

.project-list .project {
  box-sizing: border-box;
  padding: 1.5em;
  transition: box-shadow .25s, opacity .25s;
}

@media screen and (min-width: 720px) {

  .project-list .project {
    float: left;
    clear: none;
    width: 50%;
    margin-left: 0%;
    margin-right: 0%;
  }
  
  
  
  .project-list .project:nth-of-type(n) {
    margin-right: 0%;
    float: left;
    clear: none;
  }
  
  .project-list .project:nth-of-type(2n) {
    margin-right: 0%;
    float: right;
  }
  
  .project-list .project:nth-of-type(2n+1) {
    clear: both;
  }

}

@media screen and (min-width: 1024px) {

  .project-list .project {
    float: left;
    clear: none;
    width: 33.333332%;
    margin-left: 0%;
    margin-right: 0%;
  }
  
  
  
  .project-list .project:nth-of-type(n) {
    margin-right: 0%;
    float: left;
    clear: none;
  }
  
  .project-list .project:nth-of-type(3n) {
    margin-right: 0%;
    float: right;
  }
  
  .project-list .project:nth-of-type(3n+1) {
    clear: both;
  }

}

.project-list .project:hover {
  opacity: 1;
  box-shadow: 0 0 24px rgba(0, 0, 0, .25);
}

.blog-entries article.post {
  margin-bottom: 2em;
}

.blog-entries article.post h1 {
  display: inline-block;
  font-family: Open Sans, sans-serif;
  font-size: 1.25em;
  font-weight: normal;
}

.blog-entries article.post h1 a {
  text-decoration: none;
}

.blog-entries article.post h1, .blog-entries article.post p {
  margin: 0;
  padding: 0;
}

.blog-entries article.post .post__metadata {
  display: inline-block;
  margin-bottom: 0.5em;
  color: #808080;
  font-style: italic;
}